/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	font-family: "Helvetica Neue",Helvetica,"Noto Sans","Microsoft Yahei",sans-serif,Arial,sans-serif;
}
.inline-block {display: inline-block;}

/*logo*/
.logo a h1 {color: #fff; margin: 0;}

h2 ~ button.btn {margin-left: 10px; margin-bottom: 10px;}

.page-container .sidebar-menu {position: fixed;top:0;}

/* overwrite */
.form-horizontal .form-group {
    padding-bottom: 5px;
    padding-top: 5px;
    margin:0;
}

